.element__delete-button {
  position: absolute;
  background-image: url("../../../images/button/delete_button/Group.png");
  top: 20px;
  right: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-width: 0;
  background-color: rgba(0, 0, 0, 0);
  object-fit: cover;
  z-index: 0;
 
  min-width: 18px;
  height: 20px;

}

.element__delete-button:hover {
  opacity: 0.6;
}
