.popup__container {
  width: 430px;
  min-height: 330px;
  /* min-height вроде можно использовать для заменя height? */

  display: flex;
  flex-direction: column;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
}

@media screen and (max-width: 630px) {
  .popup__container {
    width: 282px;
    min-height: 322px;
  }
}
