.popup__button {
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
  border: none;

  margin: 31px auto 36px auto;
  width: 358px;
  height: 50px;
  background: rgba(0, 0, 0, 1);
  border-radius: 2px;
  cursor: pointer;
}

.popup__button:hover {
  opacity: 0.8;
  transition: opacity 0.5s;
}



@media screen and (max-width: 630px) {
  .popup__button {
    font-size: 14px;
    line-height: 17px;

    width: 238px;
    height: 46px;
    margin: 45px auto 25px;
  }
}
