.elements {  
  margin: 0 auto;
  max-width: 880px;
  box-sizing: border-box;
  padding: 50px 0 66px 0;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  gap: 17px 20px;
}

@media screen and (max-width: 920px) {
  .elements {
    grid-template-columns: repeat(2, 282px);
    justify-content: center;
    gap: 10px 15px;
  }
}

@media screen and (max-width: 630px) {
  .elements {
    padding-top: 36px;
    padding-bottom: 48px;
    grid-template-columns: 282px;
    gap: 20px 0;
  }
}
