.profile__moniker {
  margin: 0;
  padding: 0;
  max-width: 336px;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 920px) {
  .profile__moniker {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 766px) {
  .profile__moniker {
    text-align: center;
    margin: 14px 0 0;
  }
}
