.profile__name {
  max-width: 294px;
  margin: 0;
  padding:0 18px 16px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: white;
}

@media screen and (max-width: 766px) {
  .profile__name {
    max-width: 189px;
    padding:26px 10px 14px 0;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}
