.popup__input-new {
  padding: 0;
  width: 358px;
  height: 27px;
  margin: 54px auto 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__input-new:last-of-type {
  margin-top: 30px;
}

.popup__input-new::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}

@media screen and (max-width: 630px) {
  .popup__input-new {
    width: 238px;
    margin-top: 75px;
  }
}
